---
interface Image {
    src: string;
    alt: string;
}

const {
    id,
    images,
    imageClass = "w-full h-auto object-cover",
    visibleImages = 1,
} = Astro.props as {
    id: string;
    images: Image[];
    imageClass?: string;
    visibleImages?: number;
};
---

<div class="relative w-full overflow-hidden">
    <div
        id={id}
        data-carousel-id={id}
        data-visible-images={visibleImages}
        class="flex items-center"
    >
        {
            images.concat(images).map((image: Image) => (
                <div
                    class="flex-shrink-0"
                    style={`width: calc(100% / ${visibleImages});`}
                >
                    <img
                        src={image.src}
                        alt={image.alt}
                        class:list={[imageClass, "block mx-auto"]}
                    />
                </div>
            ))
        }
    </div>
</div>
