---
import Logo from "./Logo.astro";
import ContactInfo from "./ContactInfo.astro";
import { Icon } from 'astro-icon/components'

const socialLinks = [
  { href: "https://facebook.com", icon: "mdi:facebook" },
  { href: "https://twitter.com", icon: "mdi:twitter" },
  { href: "https://linkedin.com", icon: "mdi:linkedin" },
  { href: "https://instagram.com", icon: "mdi:instagram" },
];

const navLinks = [
  { href: "/about", label: "Política de privacidad " },
  { href: "/about", label: "Términos legales " },
  { href: "/about", label: "Política de cookies" },
];

const contactDetails = [
  {
    icon: "mdi:map-marker",
    text: "Edificio Zafiro, Calle Gremios Segovianos, 3\nPolígono de Hontoria 40195 Segovia",
  },
  {
    icon: "mdi:phone",
    text: "(+34) 644121775",
  },
  {
    icon: "mdi:email",
    text: "info@limmat-group.com",
  },
];
---

<footer class="bg-black text-white py-6">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center gap-6">
    <!-- Logo -->
    <a href="/" class="flex items-center">
		<img src="/images/logo-limmat.svg" alt="Limmat Logo" class="h-auto w-72 mr-4">
	</a>

    <!-- Información de Contacto -->
    <div class="text-center md:text-left">
      <p class="text-2xl uppercase text-limmat mb-4">Contacto</p>
      <ContactInfo contactDetails={contactDetails} />
    </div>

    <!-- Enlaces de Navegación -->
    <div class="text-center">
      <ul class="flex flex-wrap justify-center gap-3 text-base">
        {navLinks.map((link) => (
          <li>
            <a href={link.href} class="text-limmat hover:text-white transition-colors">
              {link.label}
            </a>
          </li>
        ))}
      </ul>

	      <!-- Iconos de Redes Sociales -->
		  <div class="flex justify-center gap-4 mt-8">
			{socialLinks.map((social) => (
			  <a href={social.href} target="_blank" class="text-3xl hover:text-limmat transition-colors text-white">
				<Icon name={social.icon} />
			  </a>
			))}
		  </div>

		  <div class="mt-6 text-center text-sm text-gray-300">
			&copy; {new Date().getFullYear()} Limmat M&M, S.L. Todos los derechos reservados.
		  </div>
    </div>
  </div>
</footer>
