---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/Layout/BaseHead.astro";
import Header from "../components/Layout/Header.astro";
import Footer from "../components/Layout/Footer.astro";
import HeroVideo from "../components/Layout/HeroVideo.astro";
import { ViewTransitions } from "astro:transitions";

type Props = CollectionEntry<"blog">["data"];

const { title, description, postImage } = Astro.props;
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
allPosts.map((post) => {
	console.log(post); // Usa 'slug' en lugar de 'url'
});
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<ViewTransitions />
	</head>

	<body class="bg-black">
		<!-- Header -->
		<Header />

		<!-- Hero Section -->
		<HeroVideo videoFileName="publicaciones.webm" />

		<ul>
			{
				allPosts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>

		<!-- Post Content -->
		<main class="w-[80vw] md:w-[50vw] mx-auto py-16">
			<article class="shadow-md md:bg-neutral-950 md:rounded-2xl md:p-5">
				<h1 class="font-semibold text-limmat text-xl md:text-3xl">
					{title}
				</h1>
				{
					postImage && (
						<img
							class="w-full h-auto md:max-h-[500px] block my-8"
							src={postImage}
							alt=""
						/>
					)
				}

				<style is:inline>
					.post-content p {
						margin-bottom: 1em !important;
						color: rgb(229 229 229) !important;
						font-size: 1rem; /* 16px */
						line-height: 1.5rem; /* 24px */
					}
					.post-content a {
						margin-bottom: 1em !important;
						color: #fd8e00 !important;
					}
					.post-content a:hover {
						color: rgb(229 229 229) !important;
					}

					.post-content ol,
					ul {
						list-style: unset !important;
						margin-left: 1em !important;
						font-size: 1rem; /* 16px */
						line-height: 1.5rem; /* 24px */
					}
				</style>
				<div class="post-content mx-auto">
					<slot />
				</div>
			</article>
		</main>

		<Footer />
	</body>
</html>
